version: '3.8'
services:
  # Database Configuration
  postgres:
    image: postgres:latest
    container_name: dockerclass_database
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file:
      - .env
    networks:
      - dockerclass-net
    restart: always
  # App Configuration
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dockerclass_app
    env_file:
      - .env
    environment:
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - dockerclass-net
    restart: on-failure
networks:
  dockerclass-net: